

<div class="questions-field">
  <% count = 1 %>
  <% @sorted_questions.each do |x| %>
    <div class="question<%= count %>">
      <p><%= x[1] %></p>
      <a class="answerBtn" href="/answer?question_id=<%= x[0] %>&answer=1&csv_file_name=<%= @csv_file_name %>">はい</a>
      <a class="answerBtn" href="/answer?question_id=<%= x[0] %>&answer=2&csv_file_name=<%= @csv_file_name %>">どちらかと言うとはい</a>
      <a class="answerBtn" href="/answer?question_id=<%= x[0] %>&answer=3&csv_file_name=<%= @csv_file_name %>">どちらかと言うといいえ</a>
      <a class="answerBtn" href="/answer?question_id=<%= x[0] %>&answer=4&csv_file_name=<%= @csv_file_name %>">いいえ</a>
    </div>
    <% count = count + 1 %>
  <% end %>
</div>

<a href="/result?csv_file_name=<%= @csv_file_name %>">結果を見る</a>


<script type="text/javascript">
  $(function()
  {
    $('.answerBtn').click(function(event)
    {
      event.preventDefault();
      var url = $(this).attr('href');

      $.ajax(
      {
        type: "GET",
        url: url
      }).done( function(data)
      {
        //回答した質問をfadeOutして次の質問を表示する
      });

    });
  });
</script>

